.layout{
  max-width: 1200px;
  margin: auto;
}

.layout nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout nav ul{
  display: flex;
}

.layout li{
  list-style-type: none;
  margin: 0 20px;
}

.layout a{
  color: #5555;
}

.layout a.active{
  color: blue;
}